<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculos!</title>

</head>

<body>

    <form method="POST">

    <p><input type="text" name="numero1"></p>

    <p><input type="text" name="numero2"></p>

    <select name="calculadora">

        <option value="somar">Realizar soma</option>
        <option value="subtrair">Realizar subtração</option>
        <option value="multiplicar">Realizar multiplicação</option>
        <option value="dividir">Realizar divisão</option>
      </select>
    <p><input type="submit" name="Enviar"></p>
    
    </form>

</body>

</html>